// 导入文件.
@import "../global/colors/color";
@import "../global/lists/list";

$link-color: #c1c !default; // 如果这个变量被声明赋值了，那就用它声明的值，否则就用这个默认值.

.domain .table .title {
    color: $color-red;
}

.domain a {
    color: $link-color;
}

// 嵌套导入.
// .blue-theme {@import "blue-theme"}

// 原生的CSS导入
/*
    由于sass兼容原生的css，所以它也支持原生的CSS@import。尽管通常在sass中使用@import时，sass会尝试找到对应的sass文件并导入进来，但在下列三种情况下会生成原生的CSS@import，尽管这会造成浏览器解析css时的额外下载：
        1) 被导入文件的名字以.css结尾；
        2) 被导入文件的名字是一个URL地址（比如http://www.sass.hk/css/css.css），由此可用谷歌字体API提供的相应服务；
        3) 被导入文件的名字是CSS的url()值。
    这就是说，你不能用sass的@import直接导入一个原始的css文件，因为sass会认为你想用css原生的@import。但是，因为sass的语法完全兼容css，所以你可以把原始的css文件改名为.scss后缀，即可直接导入了。
*/
